

li{
  list-style: none;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 0%;
}

.project{
  display: flex;
  align-items: center;
  justify-content: center;
}


.carImage{
  width: 100vw;
  max-height: 80vh;
  opacity: .9;
  position: relative;

}

.carousel{
  max-height: 100vh;
  /* background-color: #2F4858; */
}


h3{
  color: black;
}

.caption{
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption a {
  text-decoration: none;
  color: white;
}

.caption button {
  margin: 5px;
}

.title{
  background-color: #9baebc;
  margin: 0;

}

/* 
@media only screen and (max-width: 900px){

  .carImage{
    width: 100vw;
    max-height: 250px;
    position: relative;
    left: 0%;
  }
  .carousel{
    width: 100%;
  }
} */