body{
  background-color: darkgray;
}

nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px;
  background-color: grey;
}

a{
  text-decoration: none;
  color: antiquewhite;
}



